.main-div {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;

}

.form__title {

}

h3 {
    width: 200px;
}

label {
    display: flex;
    flex-direction: column;
    width: 270px;
    /* height: 40px; */
}

.form__input {
    height: 30px;
    margin: 3px;
}

.span-password {
    font-size: 8px;
    width: 200px;
}

.form__btn {
    background-color: rgb(143, 143, 143);
    border-radius: 100px;
    margin-top: 10px;
   
}

.button-container {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.password-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 270px;
  }
  
.form__input.prop[type="password"] {
    flex: 1;
    padding-right: 40px; 
  }

  .form__input.prop[type="text"] {
    flex: 1;
    padding-right: 40px; 
  }
  
  .toggle-password-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .toggle-password-button:focus {
    outline: none;
  }
  
  .span-password {
    font-size: 0.8rem;
    color: #888;
    margin-top: 5px;
  }

  span {
    font-size: 10px;
  }

  .div-button-ext {
    display: flex;
    justify-content: flex-end;
  }

  .botton-ext {
    display: flex;
    justify-content: flex-end;
    padding: 0 0 0 0;
  }