/* .figureCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 30px;
    font-size: 12px;
  } */
  /* .figureCard img {
    width:50%;
  }
  p{
      margin: auto 0;
  } */

.CategoriesParams {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

.buttonsr {

}

.buttonsr{
  padding-bottom: 2px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  margin-right: 30px;
  margin-left: 50px;
  font-size: 20px;
  border-radius: 0;
}

.buttonsr:hover {
  border-bottom: 2px solid rgb(0, 0, 0);
  padding-bottom: 2px;


}