* {
	margin: 0;
	padding: 0;
}
.body {
	height: 100%;
}
.wrapper {
	display: grid;
    justify-content: center;
	flex-direction: column;
	min-height: 100vh;
    font-size: 28px;
}
.content {
	flex: 1 0 auto;
}
footer {
	position: fixed;
	right: 0;
	bottom: 0;
	text-align: center; 
	width: 99%;   
	font-size: 19px;
  font-weight: bold;
}