.category-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.category-controls button {
  background-color: transparent;
  color: inherit;
  font: inherit;
  border: none;
  cursor: pointer;
  /* font-size: 15px; */
  margin-left: 30px;
  background-color: rgb(221, 221, 221);
}

.categoryDiv {
  margin-top: 50px;
  display: flex;
  overflow-x: auto;
  width: 1200px;
  scroll-behavior: smooth;
  padding-bottom: 10px;
  margin-bottom: -10px;
  top: 200px;
}

.categoryDiv::-webkit-scrollbar {
  display: none; /* Скрыть полосу прокрутки для Safari и Chrome */
}

.categoryDiv > * {
  flex: 0 0 auto;
}

.getMainDiv {
  /* border-top: 1px solid black; */
  width: 50%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.getMainDiv div button {
  background-color: transparent;
  color: inherit;
  font: inherit;
  border: none;
  cursor: pointer;
  font-size: 15px;
  margin-left: 30px;
  background-color: rgb(196, 216, 194);

}
div.divFigure {

  display: flex;
  flex-direction: column;
  width: 1400px;
  justify-content: space-around;
}

.main-div-categor {

  width: 100vh;
  display: flex;
  justify-content: center;
}

.div-magazin {
  background-color: aqua;
}